.container {
  margin: 5%;
}

.form {
  margin: 1rem 0;
}

.form input {
  height: 1.5rem;
  font-family: 'Poppins';
}

.form button {
  height: 1.9rem;
  font-family: 'Poppins';
  box-sizing: border-box;
  margin-left: 5px;
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.form button:active {
  color: white;
  background-color: var(--secondary);
}

.studentTable {
  border-collapse: collapse;
  width: 100%;
}

.studentTable thead {
  background-color: var(--primary);
}

.studentTable th {
  padding: .5rem;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

.studentTable th.sortable {
  cursor: pointer;
  user-select: none;
}

.studentTable th.sortable:hover {
  background-color: var(--secondary);
  color: #fff;
}

.studentTable th img {
  width: 20px;
  margin: 0 0 -5px 5px;
}

.studentTable th img.desc {
  rotate: 180deg;
}