.container {
  margin: 5%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--primary);
}

th {
  padding: .5rem;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable:hover {
  background-color: var(--secondary);
  color: #fff;
}

th img {
  width: 20px;
  margin: 0 0 -5px 5px;
}

th img.desc {
  rotate: 180deg;
}