.container {
  margin: 5%;
}

.studentTable {
  border-collapse: collapse;
  width: 100%;
}

.studentTable thead {
  background-color: var(--primary);
}

.studentTable th {
  padding: .5rem;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

.studentTable th.sortable {
  cursor: pointer;
  user-select: none;
}

.studentTable th.sortable:hover {
  background-color: var(--secondary);
  color: #fff;
}

.studentTable th img {
  width: 20px;
  margin: 0 0 -5px 5px;
}

.studentTable th img.desc {
  rotate: 180deg;
}